# EmailJS Configuration
# Steps to get these values:
# 1. Go to https://emailjs.com and create a free account
# 2. Add a Gmail service (use ibanezsara35@gmail.com)
# 3. Create an email template with these variables:
#    {{from_name}}, {{from_email}}, {{company}}, {{message}}
#    Set the "To Email" to: ibanezsara35@gmail.com
# 4. Copy the Service ID, Template ID, and Public Key below

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxx
